<div class="row">
  <div class="card offset-3 col-6 shadow-lg mt-5">
    <div class="text-danger text-center mt-4">
      <%= render "layouts/error_messages", model: @user %>
    </div>
    <%= form_with model: @user, local: true do |f| %>
      <div class="row">
      
        <div class="offset-2 col-8">
          <%= f.label :profile_image, "プロフィール画像", class: "form-label" %>
          <%= f.file_field :profile_image, class: "form-control" %>
        </div>
        
        <div class="offset-2 col-8 mt-2">
          <%= f.label :introduction, "プロフィール文", class: "form-label" %><br>
          <%= f.text_area :introduction, class: "form-control", rows:"4" %>
        </div>
        
        <div class="text-center mt-3 mb-4">
          <%= f.submit "Create", class: "btn btn-outline-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>