<div class="card shadow-lg offset-3 col-6 mt-5">
  <h4 class="text-center mt-3">パスワード変更</h4>
  <div class="row">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
    
      <div class="field offset-3 col-6">
        <%= f.label :password, "新しいパスワード", class: "form-label" %><br />
        <% if @minimum_password_length %>
          (<%= @minimum_password_length %> 文字以上)<br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
      </div>
    
      <div class="field offset-3 col-6">
        <%= f.label :password_confirmation, "パスワード(確認)", class: "form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    
      <div class="actions text-center mt-3">
        <%= f.submit "パスワードを変える", class: "btn btn-outline-success" %>
      </div>
    <% end %>
  </div>
  <div class="text-end me-2 mb-1">
    <%= render "users/shared/links" %>
  </div>
</div>
