<div>
  <%= search_form_for @q, url: knowledges_path do |f| %>
    <%= f.label :title_cont, 'タイトル検索' %>
    <%= f.search_field :title_cont %>
    <%= f.label :body_cont, '本文検索' %>
    <%= f.search_field :body_cont %>
    <%= f.submit '検索' %>
  <% end %>
</div>
<div>
  <%= render "layouts/knowledge_search" %>
</div>