<div class="row">
  <% @knowledges.each do |k| %>
    <%= link_to knowledge_path(k.id) , class: "card offset-3 col-6 mt-5 mb-2 shadow-lg text-decoration-none btn text-start", style: "height: 150px;" do %>
      <div class="row">
        <div class="mt-2 ms-2 col-5 fw-bolder"><%= k.title %></div>
        <div class="text-end col-7 fw-light text-secondary" style="font-size: 14px;"><span class="position-absolute top-0 end-0 mt-3 me-4"><%= k.category.category_name %></span></div>
        <div class="mt-4 offset-1 mb-2 col-10 text-truncate"><%= k.body %></div>
        <div class="text-primary"><span class="position-absolute bottom-0 end-0 mb-2 me-3"><%= k.user.name %>さん</span></div>
      </div>
    <% end %>
  <% end %>
</div>